body {
  background: #e9e9e9;
  font: 14px 'Roboto';
  padding: 5vh 0;
  height: 90vh;
  width: 100vw;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 80vw;
  height: 100%;
  max-width: 1000px;
  background: #3e2c2f;
  -webkit-box-shadow: 0px 0px 35px 9px #ccc;
  -moz-box-shadow: 0px 0px 35px 9px #ccc;
  box-shadow: 0px 0px 35px 9px #ccc;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.people-list {
  width: 30%;
  height: 100%;
  float: left;
  color: #ffffff;
  position: relative;
}
.people-list .username {
  padding: 40px;
  text-align: center;
  font-size: 25px;
}
.people-list ul {
  padding: 0;
  margin: 0;
}
.people-list ul li {
  padding: 14px 20px;
  cursor: pointer;
}
.people-list ul li:hover {
  background-color: #71555B;
  transition: background-color .3s ease-in;
}
.people-list ul li.active {
  background-color: #ED2553;
}
.button-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  text-align: center;
  font-size: 16px;
}
.chat {
  width: 70%;
  height: 100%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  position: relative;
}
#history {
  overflow: auto;
  padding: 20px;
  max-height: 75vh;
}
#history::-webkit-scrollbar {
  width: 6px;
  background-color: #F2F5F8;
}
#history::-webkit-scrollbar-track
{
  background-color: #F2F5F8;
}
#history::-webkit-scrollbar-thumb
{
  background-color: rgba(253, 37, 83, 0.7);
  border-radius: 3px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 8px 16px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 75%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #BABABA;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #BABABA;
}
.chat .chat-history .other-message {
  background: #ED2553;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #ED2553;
  left: 93%;
}
.chat .chat-message {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.chat .chat-message input {
  width: 85%;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
}
.chat .chat-message input:focus {
  outline: none;
}
.chat .chat-message i {
  float: right;
  color: #F2F5F8;
  background-color: #ED2335;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 14px;
  border-radius: 100%;
}
button:focus {
  outline: none;
}
.logout {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  color: #F2F5F8;
  background-color: #ED2335;
  font-size: 20px;
  border-radius: 100%;
  padding: 17px 20px;
  -webkit-box-shadow: 0px 0px 20px 2px #aaa;
  -moz-box-shadow: 0px 0px 20px 2px #aaa;
  box-shadow: 0px 0px 20px 2px #aaa;
  cursor: pointer;
}
.logout:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: all .3s ease-in;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
ul {
  list-style-type: none !important;
}
.message-data-name {
  color: #BABABA;
}